/*  Variables  */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black-l: #231f20;
  --basic-black-light: #283136;
  --basic-grey-dark: #444444;
  --basic-grey--dark-l: #4d4d4d;
  --basic-grey: #666666;
  --basic-grey-ld: #c1c1c1;
  --basic-grey-light-l: #dbdbdb;
  --basic-grey-light: #e1e1e1;
  --basic-grey-extra-light: #eeeeee;
  --basic-grey-modal: #d7dcde;
  --special-grey-active: #a6a6a6;
  --special-grey-hover: #dfdfdf;
  --special-grey-hover-modal: #b4b9bb;
  --special-grey-active-catalog: #d5d5d5;
  --special-grey-active-range: #ababab;
  --basic-red: #fb565a;
  --special-red-hover: #e74246;
  --special-red-active: #d7373b;
  --basic-green: #00ca74;
  --special-green-hover: #00bc6c;
  --special-green-active: #00aa62;
  --basic-yellow: #efc849;
  --special-yellow-hover: #eab534;
  --special-yellow-active: #e5a722;
}
/*  Global  */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

/* buttons etc. */
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

 /* Main header */

 header {
	background-color: var(--basic-grey-extra-light);
}
nav {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.site-navigation {
  list-style: none;
}

/* courusele */
.courusele {
  background-color: var(--basic-grey-extra-light);
}
.slide-container {
  min-height: 411px;
}
.slider {
  min-height: 411px;
  position: relative;
}

.slide-item {
  width: 1160px;
  padding-bottom: 80px;
  display: none;
}
.slide-list {
  list-style: none;
}
.currrent-slide {
  display: block;
}
.slide-phone {
  background: var(--basic-grey-extra-light)
              url(../img/nerds-index-slide1-1.png)
              no-repeat
              right 2px
              top -19px;
}
.slide-math {
  background: var(--basic-grey-extra-light)
              url(../img/nerds-index-slide2-1.png)
              no-repeat
              right 2px
              top -19px;
}
.slide-hardcore {
  background: var(--basic-grey-extra-light)
              url(../img/nerds-index-slide3-1.png)
              no-repeat
              right 2px
              top -19px;
}
/* Слайдер */
.slide-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}
.slide-text {
  line-height: 24px;
  color: var(--basic-black-light);
  margin: 0;
}
.slide-button {
  background-color: var(--basic-red);
}
.slide-button:hover {
  background-color: var(--special-red-hover);
}
/* slider control */


/* main */
.features-list {
  list-style: none;
}
.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.item-text {
  line-height: 24px;
  color: var(--basic-black-light);
}
.button-site {
  background-color: var(--basic-red);
}
.button-site:hover {
  background-color: var(--special-red-hover);
}
.button-site:active {
  background-color: var(--special-red-active);
}
.button-app {
  background-color: var(--basic-green);
}
.button-app:hover {
  background-color: var(--special-green-hover);
}
.button-app:active {
  background-color: var(--special-green-active);
}
.button-pres {
  background-color: var(--basic-yellow);
}
.button-pres:hover {
  background-color: var(--special-yellow-hover);
}
.button-pres:active {
  background-color: var(--special-yellow-active);
}

/* about */

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.about-text {
  line-height: 24px;
  color: var(--basic-black-light);
}
.about-subtitle {
  font-weight: 700;
  font-style: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black-light);
}
.about-list {
  list-style: none;
  line-height: 24px;
  color: var(--basic-black-light);
}
/*cooperation*/
.cooperation-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.cooperation-list {
  list-style: none;
}
.percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.percent sup {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.cooperation-text {
  line-height: 18px;
  color: var(--basic-black-light);
}
/*partners*/
.partners-list {
  list-style: none;
}
/*footer*/
.contacts-adress {
  background-color: var(--basic-white);
}
.adress-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.adress-text,
.tel-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}
.contact-phone {
  color: var(--basic-grey);
}
.button-contacts {
  background-color: var(--basic-red);
}
.footer-socail-list {
  list-style: none;
}
.social-button {
  background-color: var(--basic-grey-light);
}
.footer-sales-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.sales-text {
  line-height: 22px;
  color: var(--basic-grey-dark);
}

/*---CATALOG--*/

.title-wrapper {
  background-color: var(--basic-grey-extra-light);
  text-align: center;
}
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.filter-item {
  text-transform: uppercase;
}
.filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
input {
  font: inherit;
  text-align: center;
  background-color: var(--basic-grey-extra-light);
}
.button-show {
  background-color: var(--basic-grey-extra-light);
  color: var(--basic-black);
  line-height: 18px;
}
.button-show:hover {
  background-color: var(--special-grey-hover);
}

/*catalog - sort*/
.sort {
  text-transform: uppercase;
}
.sort-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.sort-list-one {
  list-style: none;
}
.sort-type-item {
  font-size: 14px;
  line-height: 18px;
}
/*--catalog of cards--*/
.catalog-list {
  list-style: none;
}
.site-card-buttons-active {
  background-color: var(--basic-white);
}
.name-site {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.name-site:hover {
  color: var(--basic-red);
}
.card-price-block-active p {
  line-height: 18px;
  text-align: center;
  color: var(--basic-grey);
}
.button-price {
  background-color: var(--basic-red);
}
/*pagination*/
.pagination-list {
  list-style: nne;
}
.pagination-item {
  font-weight: 500;
  line-height: 18px;
}
.pagination-item  a {
  background-color: var(--basic-grey-extra-light);
}
/*MODAL*/
.modal {
  background-color: var(--basic-white);
}
.modal h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}
.modal-contact-row label {
  font-weight: 700;
  line-height: 18px;
}
